/*GENERAL*/

/*ESTILOS BOOTRSTRAP*/

.bg-violeta {
  background-color: #ceb3f2;
}

.bg-amarillo{
background-color: #ffffad;
}

.btn.bg-amarillo{
background-color: #ffffadd1;
border-color: #ffffadd1;
color: black;
}


.card {
  height: 100%;
}

.card-title {
  margin-bottom: 1rem;
}

.card-text {
  flex-grow: 1;
}



.btn.bg-violeta {
  background-color: #ceb3f2;
  border-color: #ceb3f2;
}

.btn-violet {
  background-color: #ceb3f2;
}

/*TITLOS */

.title-all {
  text-align: center;
  font-size: 7vw;
}

.title {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title-t {
  font-size: 60px;
  font-weight: bold;
  color: #333;
  margin: 0;
  align-items: center;
}

.title-st {
  font-size: 20px;
  font-style: italic;
  color: #666;
  margin-top: 10px;
}

/*HEADER*/

main {
  background-color: hsl(60, 100%, 84%);
}

.img-hero {
  opacity: 50%;
}

nav img {
  width: 70px;
  height: 70px;
  margin: 20px;
}

/*MAIN*/

/*Hero section*/

.hero-section {
  display: flex;
  flex-direction: row;
  background-color: #f2e0c9;
  height: 100%;
  padding: 50px;
  background-image: url("../images/herosectionback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-section-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.hero-section a {
  text-decoration: none;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #fed966;
  color: black;
  border: none;
  padding: 10px;
  margin: 30px;
  font-size: 16px;
  font-weight: bold;
  align-self: flex-end;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.hero-section a:hover {
  background-color: #ceb3f2;
  color: black;
}

.hero-section-title {
  font-size: 150px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.hero-section-text {
  font-size: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    padding: 40px
  }

  .hero-section a {
    align-self: center;
  }

  .hero-section-title {
    font-size: 10vh;
    font-weight: bold;
    justify-content: center;
    text-align: center;
  }
}

/*Main cards*/

.cards-index {
  background-color: hsl(60, 100%, 84%);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-index-box {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 30%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card-index-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-index-content {
  padding: 20px;
}

.card-index-img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card-index-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-index-text {
  font-size: 1rem;
  color: #666;
}

.card-index-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ceb3f2;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.card-index-button:hover {
  background-color: #ceb3f2;
  color: #fff;
}

@media (max-width: 768px) {
  .cards-index {
    flex-direction: column;
    align-items: center;
  }

  .card-index-box {
    width: 90%;
  }
}

/*MENU NOTAS*/

.menu-cards {
  background-color: hsl(60, 100%, 84%);
  padding: 30px;
}

/*NOTA 1*/
.entrada-blog {
  padding: 60px;
  border-radius: 10px;
  background-color: hsl(60, 100%, 84%);
}

.entrada-blog-container {
  background-color: #ceb3f2;
  padding: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 0;
  
}

.entrada-blog-carrusel-bootstrap {
  margin-top: 0;
  margin-bottom: 0;
}

.entrada-blog-p{
  margin: 20px
}


.entrada-blog-container-back {
  background-color: #ceb3f2;
  padding: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid #ceb3f2;
  padding-left: 60px;
}

.entrada-blog-container-boton {
  background-color: #f2e0c9;
  display: block;
  background: hsl(60, 100%, 84%)fq;
  padding: 0.7em;
  width: 100px;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  
  
}

.entrada-blog-container-boton:hover {
  background-color: #fed966;
  font-weight: bold;
}


@media (max-width: 768px) {
  .entrada-blog {
    padding: 20px;
  }
  .entrada-blog-container {
    padding: 15px;
  }
  .entrada-blog-title {
    font-size: 1.5r em;
  }
  .entrada-blog-container p {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  .entrada-blog-container-back {
    padding-left: 35%;
  }
  .entrada-blog-title-t{
    font-size:larger;
  }

  .entrada-blog-subtitle-t{
    font-size: small;
  }

  .entrada-blog-p{
    margin: 0px
  }
  
  
}

.entrada-blog-carrusel-bootstrap {
  background-color: #ceb3f2;
}

.carousel {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

/*GALLERY*/

.gallery {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image {
  position: relative;
  flex-grow: 1;
  flex-basis: 320px;
  width: 100%;
  height: 400px;
  border-radius: 50px;
  overflow: hidden;
  transition: 0.5s;
}

.image:hover {
  flex-grow: 5;
}

@media (min-width: 768px) {
  .gallery:hover .image:not(:hover) {
    filter: blur(15px) opacity(0.5);
  }
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-title {
  font-size: 20px;
  position: absolute;
  top: 80%;
  width: 100%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgba(206, 147, 240, 0.729);
  color: white;
  z-index: 1;
}

/*SUSCRIPCION*/


.title-suscribite {
  background-color: hsl(60, 100%, 84%);
}

.suscription-content-title {
  background-color: hsl(60, 100%, 84%);
  padding: 30px;
  text-align: center;
}

.title-suscripcion {
  font-size: 6vw;
  margin-bottom: 20px;
}

.formulario-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(60, 100%, 84%);
  padding: 20px;
}

.form-suscripcion {
  background-color: #ceb3f2;
  max-width: 90%;
  padding: 30px;
  border-radius: 30px;
}

.form-suscripcion:hover {
  background-color:#c3a0f1;
}

.input-form {
  padding: 0.7em;
  margin-bottom: 0.5rem;
  width: 100%;
}

.button-form {
  background: rgb(255, 255, 255);
  padding: 0.7em;
  width: 100%;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
}

.button-form:hover {
  background: rgba(178, 120, 211, 0.729);
}

.label-form {
  padding: 0.5em 0.5em 0.5em 0;
}

.input-form:focus {
  outline: 3px solid rgb(0, 0, 0);
}

@media (min-width: 400px) {
  .form-suscripcion {
    max-width: 400px;
  }

}

/*PLAYLIST*/

.playlist {
  background-color: #ceb3f2;
  padding: 60px display: flex;
  flex-direction: row;
  background-color: #f2e0c9;
  height: 100%;
  padding: 50px;
  background-image: url("../images/herosectionback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.playlist-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playlist-title {
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
}

.playlist-iframe {
  width: 80%;
  border-radius: 12px;
  margin: 5px;
}

@media (max-width: 768px) {
  .playlist {
    background-color: #ceb3f2;
    padding: 10px;
  }
  .playlist-box {
    flex-direction: column;
  }

  .playlist-title {
    font-size: 48px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .playlist-iframe {
    width: 100%;
    border-radius: 0px;
    margin: 0px;
  }
}

/*QUIENES SOMOS*/

.quienes-somos{
  background-image: url("../images/herosectionback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.quienes-somos-cuerpo{
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: flex-start;
}

.quienes-somos-descripcion{
  font-size: 20px; 
  width: calc(50% - 20px);
  margin-right: 30px;
  display: flex;
  flex-direction: column;

  
}

.quienes-somos-descripcion-title{
  font-size: 60px; 
  padding-bottom: 50px;
}

.quienes-somos-descripcion-body{
  padding-top: 56px;
  font-size:18px;
}

.misionvisionyvalores{
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.misionvisionyvalores-card{
  height: 140px;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px; 
  background-color:#ffffadae ; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.misionvisionyvalores-card:hover{
  background-color: #ffffad ;
}

.misionvisionyvalores-card-texto{
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  padding: 20px;
  width: 80%;
}

.misionvisionyvalores-contenedor-img {
  width: 20%; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.misionvisionyvalores-contenedor-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover; 
}

.misionvisionyvalores-card h2{
  font-size: 20px; 
  margin-bottom: 10px; 
  font-weight: bold;
}

.misionvisionyvalores-card p{
  font-size: 14px; 
}


@media (max-width: 576px) {
  .quienes-somos-cuerpo {
    flex-direction: column; 
    align-items: center; /
    padding: 20px; 
  }

  .quienes-somos-descripcion {
    width: 100%;
    margin-right: 0; 
    margin-bottom: 20px; 
    padding: ;
  }

  .misionvisionyvalores {
    width: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }

  .misionvisionyvalores-card {
    height: auto; 
    margin-bottom: 20px; 
    height: 100%;
  }

  .misionvisionyvalores-contenedor-img {
    width: 30%; 
    padding: 10px; 
  }

  .misionvisionyvalores-card-texto {
    width: 70%;
    padding: 10px; 
  }

  .misionvisionyvalores-card h2 {
    font-size: 18px; 
  }

  .misionvisionyvalores-card p {
    font-size: 12px; 
  }
}




/*FOOTER*/

footer {
  background-color: #ceb3f2;
  color: black;
  text-align: center;
  height: 200px;
}

footer img {
  width: 70px;
  height: 70px;
  margin: 20px;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.footer-content img {
  width: 100px;
  height: auto;
  padding: 5px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 20px;
}

footer ul li a {
  color: black;
  text-decoration: none;
  padding-top: 10px;
}

footer p {
  margin-top: 20px;
  font-weight: bold;
}
