.button {
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    /*background-color: $secondary-color;
    color: black;*/
    border: none;
    padding: 10px;
    margin: 30px;
    font-size: 16px;
    font-weight: bold;
    /*align-self: flex-end;*/
    transition: background-color 0.5s ease;
    padding: 0.7em;
    border: none;
    margin-top: 20px;
  
    /*&:hover {
      background: $main-color;
    }*/
  }
  