



.hero-section {
  @include flex(row, center, center, 0px);
  background-image: url("../images/herosectionback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 5%;
}


.hero-section-title{
	height: 500px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

.hero-section-slider{
	font-size: 6vw;
	color: black;
	position: relative;
	top: 20%;
  padding-right: 25%;

}

.hero-section-textbox{
	display: inline-block;
	position: relative;
}

.hero-section-textbox div{
	display: inline-block;
	position: absolute;

	transform: rotateX(-90deg);
	opacity: 0;
	animation-timing-function: ease;
}

.hero-section-textbox div:nth-child(1){
	animation: rollDown 8s forwards infinite;
}

.hero-section-textbox div:nth-child(2){
	animation: rollDown2 8s forwards infinite;
}

.hero-section-textbox div:nth-child(3){
	animation: rollDown3 8s forwards infinite;
}

@keyframes rollDown {
	0%{
		top: -13vw;
		transform: rotateX(-90deg);
	}
	11%{
		top: -7.2vw;
		transform: rotateX(0deg);
		opacity: 1;
	}
	22%{
		top: -7.2vw;
		transform: rotateX(0deg);
		opacity: 1;
	}
	33%{
		top: 0.75vw;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown2 {
	33%{
		top: -13vw;
		transform: rotateX(-90deg);
	}
	44%{
		top: -7.2vw;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -7.2vw;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 0.75vw;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown3 {
	66%{
		top: -13vw;
		transform: rotateX(-90deg);
	}
	77%{
		top: -7.2vw;
		transform: rotateX(0deg);
		opacity: 1;
	}
	88%{
		top: -7.2vw;
		transform: rotateX(0deg);
		opacity: 1;
	}
	99%{
		top: 0.75vw;
		transform: rotateX(30deg);
		opacity: 0;
	}
}


.hero-section-button {
  @include button (black, $secondary-color, $main-color);
  height: 100%; 
  margin: 100px;
  padding-left: 1%;
  padding-right: 1%;
}
.hero-section-title {
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.hero-section-text {
  margin-top: 7vw;
  padding: 5%;
  font-size: 1.25rem; 
  width: 100%;
  font-weight: normal;
}

.cards-index {
  background-color: $secondary-color;

  padding: 1.25rem; 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-index-box {
  background-color: $almost-white;
  border-radius: 0.625rem; 
  overflow: hidden;
  width: 30%;
  margin-bottom: 1.25rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: $almost-white-darker;
  }
}

.card-index-content {
  padding: 1.25rem; 
}

.card-index-img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem; 
}

.card-index-title {
  font-size: 1.5rem; 
  font-weight: bold;
  margin-bottom: 0.625rem; 
}

.card-index-text {
  font-size: 1rem; 
  color: #000000;
}

.card-index-button {
  @include button(black, $main-color, $secondary-color);
  display: inline-block;
  text-decoration: none;
  border-radius: 1.25rem; 
  transition: background-color 0.3s, color 0.3s;
  box-sizing: content-box !important;

  &:hover {
    font-weight: bold;
  }
}

.playlist {
  background-color: $main-color;
  padding: 3.75rem; 
  background-color: $secondary-color;
  height: 100%;
  padding: 3.125rem; 
  background-image: url("../images/herosectionback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.playlist-box {
  @include flex(row, baseline, center, 0px);
}

.playlist-title {
  font-size: 3.125rem; 
  font-weight: bold;
  padding: 0.625rem; 
  margin: 1.25rem; 
}

.playlist-iframe {
  width: 80%;
  border-radius: 0.75rem; 
  margin: 0.3125rem; 
}