.hero-section {
  @include flex(row, center, center, 0px);
  height: 31.25rem; 
  padding: 3.125rem; 
  background-image: url("../images/herosectionback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.img-hero {
  opacity: 50%;
}

.hero-section-content {
  @include flex(column, baseline, baseline, 0px);
  padding-top: 2.5rem; 
  padding-left: 1.25rem; 
}

.hero-section a {
  text-decoration: none;
  text-align: center;
  width: 12.5rem; 
  height: 3.125rem; 
  border-radius: 3.125rem; 
  background-color: $secondary-color;
  color: black;
  border: none;
  padding: 0.625rem; 
  margin: 1.875rem; 
  font-size: 1rem; 
  font-weight: bold;
  align-self: flex-end;
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: $main-color-darker;
    color: black;
  }
}

.hero-section-title {
  font-size: 9.375rem; 
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.hero-section-text {
  font-size: 1.25rem; 
  width: 100%;
}

.cards-index {
  background-color: $secondary-color;
  padding: 1.25rem; 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-index-box {
  background-color: $almost-white;
  border-radius: 0.625rem; 
  overflow: hidden;
  width: 30%;
  margin-bottom: 1.25rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: $almost-white-darker;
  }
}

.card-index-content {
  padding: 1.25rem; 
}

.card-index-img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem; 
}

.card-index-title {
  font-size: 1.5rem; 
  font-weight: bold;
  margin-bottom: 0.625rem; 
}

.card-index-text {
  font-size: 1rem; 
  color: #000000;
}

.card-index-button {
  @include button(black, $main-color, $secondary-color);
  display: inline-block;
  padding: 0.5rem 1rem; 
  text-decoration: none;
  border-radius: 1.25rem; 
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    font-weight: bold;
  }
}

.playlist {
  background-color: $main-color;
  padding: 3.75rem; 
  background-color: $secondary-color;
  height: 100%;
  padding: 3.125rem; 
  background-image: url("../images/herosectionback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.playlist-box {
  @include flex(row, baseline, center, 0px);
}

.playlist-title {
  font-size: 3.125rem; 
  font-weight: bold;
  padding: 0.625rem; 
  margin: 1.25rem; 
}

.playlist-iframe {
  width: 80%;
  border-radius: 0.75rem; 
  margin: 0.3125rem; 
}