.contenedor-nota-1 {
  padding: 3.75rem;
  border-radius: 1rem;
  background-color: $secondary-color;
}

.entrada-blog-p {
  margin: 1.25rem;
}

.entrada-blog-container {
  background-color: $main-color;
  padding: 1.25rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-bottom: 0;
}

.entrada-blog-carrusel-bootstrap {
  margin-top: 0;
  margin-bottom: 0;
  background-color: $main-color;
}

.carousel {
  max-width: 50rem;
  margin: 0 auto;
}

.carousel-item img {
  @include img(100%, 25rem, cover)
}

.entrada-blog-container-back {
  background-color: $main-color;
  padding: 1.25rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top: 1px solid $main-color;
  padding-left: 3.75rem;
}

.entrada-blog-container-boton {
  @include button (black, $secondary-color, $secondary-color-darker);

  &:hover {
    font-weight: bold;
  }
}
