.quienessomos-container {
  background-image: url("../images/herosectionback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding: 3.1rem;
  width: 100%;
}

.quienessomos-description {
  @include flex(row, center, center, 0px);
  font-size: 1.25rem;
  align-items: center;
  margin-top: 2%;
  gap: 30px;
}

.quienessomos-description-title {
  font-size: 3.75rem;
  padding-bottom: 4.37rem;
  text-align: left;
  padding-top: 5%
}

.quienesomos-misionvisionyvalores {
  @include flex(row, baseline, center, 0px);
  padding-top: 3.1rem;
  font-size: 1.1rem;
  gap: 1.5rem
}

.quienessomos-misionvisionyvalores-card {
  @include flex (row, center, center, 0px);
  height: 250px;
  margin-bottom: 1,25rem;
  background-color: #ffffadae;
  border-radius: 0.62rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $secondary-color-darker;
  }
}

.quienessomos-misionvisionyvalores-card-img {
  width: 100px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.93rem;
}

.quienessomos-misionvisionyvalores-card-text {
  @include flex(column, space-between, baseline, 0px);
  padding: 20px;
  width: 80%;
  justify-items: center;
  h2 {
    font-size: 1.25rem;
    margin-bottom: 0.62rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
  }
}