.formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-items: center;
  background-color: $secondary-color;
  padding: 1.25rem;

  .formcontainer-suscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    background-color: $main-color;
    width: 95%; 
    max-width: 56.25rem; 
    padding: 1.875rem;
    border-radius: 1.875rem;

    &:hover {
      background-color: $main-color-darker;
    }
  }

  .formcontainer-suscripcion-input {
    padding: 0.4375rem; 
    margin-bottom: 0.3125rem; 
    width: 100%;
    border-radius: 0.5rem;
  }

  .formcontainer-suscripcion-label {
    padding: 0.3125rem 0.3125rem 0.3125rem 0; 
  }

  .formcontainer-suscripcion-input:focus {
    outline: 0.1875rem solid rgb(0, 0, 0); 
  }

  @media (min-width: 25rem) { 
    .formcontainer-suscription {
      max-width: 25rem; 
    }
  }

  .formcontainer-button {
    @include button (black, $secondary-color, $secondary-color-darker);
  }
}
